.add-curator__heading {
  margin-bottom: 50px;
}

.add-curator__row {
  margin-top: 50px;
  margin-bottom: 20px;
  gap: 25px;
}

.add-curator__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.add-currator__input {
  width: 416px !important;
  font-size: 16px !important;
  border: 1px solid #8c8c8c !important;
}

.add-curator__multiselect {
  width: 416px;
  border: 1px solid #8c8c8c;
  border-radius: 6px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
}

/* .p-multiselect-items-wrapper {
  background: white;
  border: 1px solid #8c8c8c;
  border-top: 1px solid white;
  border-radius: 6px;
}
*/

.p-multiselect-header {
  background: rgb(249, 250, 251);
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid rgb(229, 231, 235);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 10px;
}

.p-multiselect-close {
  padding: 0.3rem;
  border-radius: 12px;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s,
    box-shadow 0.2s ease 0s;
}

.p-multiselect-close:hover {
  color: rgb(55, 65, 81);
  border-color: transparent;
  border-radius: 12px;
  background: rgb(219, 219, 219);
}

.p-multiselect-items {
  padding-left: 0px;
}

.p-multiselect-item {
  gap: 10px;
  padding: 4px 16px;
  font-size: 20px;
}

.p-multiselect-panel {
  background: white;
  border: 1px solid #8c8c8c;
  border-radius: 6px;
}

.p-checkbox-box {
  width: 20px;
  height: 20px;
  border: 1px solid #8c8c8c;
  border-radius: 6px;
}

.p-checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  position: relative;
}

.p-multiselect-empty-message {
  margin-left: 15px;
}

.dropdown-menu {
  width: 416px !important;
}

.dropdown button {
  width: 416px !important;
}

.add-curator__date-picker {
  width: 416px !important;
  background: white;
  max-width: 566px !important;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #8c8c8c;
}

.add-curator__column .rs-input {
  font-size: 16px;
}

.rs-picker-toggle {
  border: none !important;
}

.add-curator__date-picker:hover {
  border-color: #8c8c8c !important;
}

.rs-picker-toggle:hover {
  border-color: #8c8c8c !important;
}

.rs-picker-toggle:focus {
  border-color: #8c8c8c !important;
}

.rs-btn:focus-visible {
  outline: none !important;
}

.add-curator__date-picker input {
  width: 175px !important;
  color: black;
  font-size: 20px;
}

#DatePicker .rs-btn-close {
  width: fit-content !important;
}

.add-curator__date-picker span {
  color: black !important;
  font-size: 20px;
}

.add-curator__btn {
  width: 416px !important;
}

.edit-unit__column .add-curator__input {
  width: 416px !important;
}

.edit-unit__column .edit-unit__input-order {
  margin-bottom: 25px;
}

.error__col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-unit__row {
  margin-top: 20px !important;
}

@media screen and (max-width: 1200px) {
  .add-curator__column .dropdown button {
    width: 100% !important;
  }

  .add-curator__column .add-curator__input {
    width: 100% !important;
  }

  .add-curator__column .add-curator__multiselect {
    width: 100% !important;
  }

  .add-curator__column .add-curator__date-picker {
    width: 100% !important;
  }

  .add-curator__column .add-curator__input {
    width: 100% !important;
  }

  .add-unit__row .add-curator__input {
    width: 416px !important;
  }

  .edit-unit__column .add-curator__input {
    width: 416px !important;
  }

  .edit-unit__column .add-curator__btn {
    width: 416px !important;
  }

  .edit-unit__column .add-theme__dropdown {
    width: 416px !important;
  }
}

@media screen and (max-width: 768px) {
  .add-curator__btn {
    width: 100% !important;
  }

  .add-currator__input {
    width: 100% !important;
  }

  .add-curator__date-picker {
    width: 100% !important;
  }

  .rs-input {
    font-size: 16px !important;
  }

  .add-curator__multiselect {
    width: 100% !important;
  }

  .p-multiselect-label {
    font-size: 16px;
  }

  .edit-curator__column:nth-child(2) {
    margin-top: 20px !important;
  }

  .add-currator__input {
    font-size: 16px !important;
  }

  .add-unit__row .add-theme__dropdown {
    width: 100% !important;
    margin-bottom: 25px;
  }

  .add-unit__row .add-currator__input {
    width: 100% !important;
  }

  .edit-unit__column .add-theme__dropdown {
    margin-bottom: 25px;
  }

  .edit-unit__column .add-currator__input {
    width: 100% !important;
  }

  .edit-unit__column .edit-unit__input-order {
    width: 100% !important;
  }

  .edit-unit__column .add-curator__btn {
    width: 100% !important;
  }
}
