.chat-message-recipient__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 50px;
}

.chat-message-recipient__box {
  width: 85%;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  background: white;
  padding: 50px 50px 30px 50px;
}

.chat-message-recipient__text {
  max-width: 1075px;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 18px;
  word-wrap: break-word;
}

.chat-message-recepient__separator {
  border-bottom: 1px solid black;
  width: 110%;
  margin: 50px 0;
}

.chat-message-recepient__rate-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.chat-message-recepient__rate-title {
  font-family: "TT Norms Pro", sans-serif;
  font-size: 20px;
}

.chat-message-recepient__rate {
  display: flex;
  gap: 40px;
}

.chat-message-recepient__text {
  font-size: 20px;
}

.chat-message-recepient__rate-icon-dislike {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 4.649px;
  background: #f6e3e3;
}

.chat-message-recepient__rate-icon-like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 4.649px;
  background: rgba(0, 171, 151, 0.11);
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.chat-message-recipient__time {
  font-family: "TT Norms Pro", sans-serif;
  font-size: 15px;
  color: #5c5c5c;
  display: block;
  margin-top: 20px;
  margin-left: -20px;
  text-align: right;
  white-space: pre-wrap;
}

.chat-message-recipient__attachs-title {
  display: block;
  margin-top: 20px;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 16px;
}

.chat-message-recipient__attachs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.chat-message-recipient__attach-link {
  font-size: 16px;
  color: rgb(33, 37, 41);
  text-decoration: none;
}

.chat-message-recipient__attach {
  position: relative;
}

.chat-message-recipient__attach::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  width: 100%;
  border-bottom: 1px dashed black;
}

.chat-message-recipient__attach-icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  margin-right: 5px;
}

.chat-message-recipient__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.chat-message-recipient__name {
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.chat-message-translate {
  border-top: 1px solid #dee2e6;
  margin-top: 10px;
  padding: 20px 0 20px 0;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.chat-message-recipient__box-curators-chat {
  border: none;
  background: rgb(255, 134, 134, 0.2);
}

@media screen and (max-width: 768px) {
  .chat-message-recipient__container {
    width: 100%;
  }

  .chat-message-recipient__box {
    width: 100%;
    padding: 20px;
  }

  .chat-message-recipient__text {
    font-size: 17px;
  }

  .chat-message-recepient__separator {
    width: 100%;
  }

  .chat-message-recepient__rate-title {
    font-size: 30px;
  }

  .chat-message-recipient__time {
    margin-right: 0;
  }
}
