.table__sorts {
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
}

.table__sorts-label {
  font-size: 16px;
  color: #787878;
}

.table__sort {
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.table__sort-active {
  color: #00ab97;
  border-bottom: 1px #00ab97 dashed;
}

.table__sort-arrow {
  margin-left: 5px;
  transform: rotate(180deg);
}

.table__sort-arrow-svg-rotated {
  transform: rotate(180deg);
}

.table__table {
  border: 1px solid #dee2e6;
}

.table__table th {
  text-align: center;
  padding: 45px 15px 15px 15px !important;
  font-size: 17px;
  font-weight: 500;
}

.table__table td {
  text-align: center;
  vertical-align: middle;
  padding: 5px 25px 5px 25px !important;
  font-size: 13px;
}

.table__status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  min-width: 100px;
}

@media screen and (max-width: 1585px) {
  /* .table__wrapper {
    overflow-x: auto;
  } */
}

@media screen and (max-width: 1200px) {
  .table__button {
    width: 215px !important;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .table__sorts {
    flex-wrap: wrap;
  }

  .table__sorts-label {
    flex: 100% 0 0;
  }

  .table__sort-wrapper:nth-child(3) {
    flex: 76% 0 0;
  }

  .table__sort-active {
    width: fit-content;
  }

  .table__btn {
    width: 100% !important;
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .table__table {
    display: flex;
    flex-direction: column;
  }
  .table__table tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }

  .table__table td, th {
    flex: 1 1 33%;
    border: 0.5px solid rgba(3,3,3,0.2);
    padding: 5px !important;
  }
}
